---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/questions?pagesize=2&site=stackoverflow&tagged=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"tags":["css","ruby-on-rails","ruby"],"owner":{"reputation":248,"user_id":4383667,"user_type":"registered","accept_rate":84,"profile_image":"https://lh3.googleusercontent.com/-0D7SldkahZc/AAAAAAAAAAI/AAAAAAAAAFk/V8nUZfLVtyk/photo.jpg?sz=128","display_name":"AnthonyGalli.com","link":"http://stackoverflow.com/users/4383667/anthonygalli-com"},"is_answered":false,"view_count":4,"answer_count":0,"score":0,"last_activity_date":1456174789,"creation_date":1456174789,"question_id":35563712,"link":"http://stackoverflow.com/questions/35563712/how-do-i-iterate-objects-inline","title":"How
        do I iterate @objects inline?"},{"tags":["ruby-on-rails","ruby","join","activerecord","rails-activerecord"],"owner":{"reputation":113,"user_id":4701050,"user_type":"registered","accept_rate":80,"profile_image":"https://www.gravatar.com/avatar/5b557cca1d845f78aff24db3b41b41f9?s=128&d=identicon&r=PG&f=1","display_name":"pthamm","link":"http://stackoverflow.com/users/4701050/pthamm"},"is_answered":false,"view_count":13,"answer_count":3,"score":1,"last_activity_date":1456174634,"creation_date":1456170488,"last_edit_date":1456170721,"question_id":35562511,"link":"http://stackoverflow.com/questions/35562511/rails-order-a-model-by-the-last-element-of-a-has-many-association","title":"Rails:
        Order a model by the last element of a has_many association"}],"has_more":true,"quota_max":300,"quota_remaining":299}'
  recorded_at: Mon, 22 Feb 2016 21:02:19 GMT
recorded_with: VCR 3.0.1
